.config/hypr/conf/custom.conf
.config/hypr/conf/custom.lua

*.log
*venv*
.config/quickshell/spotify_config.json
.config/quickshell/spotify_tokens.json
.config/quickshell/key.pem
.config/quickshell/cert.pem
