@define-color color1 #0070D8;
@define-color color2 #FFFFFF;
@define-color bordercolor #0070D8;
@define-color textcolor1 #0070D8;
@define-color textcolor2 #FFFFFF;

@define-color background #101510;

@define-color error #ffb4ab;

@define-color error_container #93000a;

@define-color inverse_on_surface #2c322d;

@define-color inverse_primary #2d6a44;

@define-color inverse_surface #dfe4dd;

@define-color on_background #dfe4dd;

@define-color on_error #690005;

@define-color on_error_container #ffdad6;

@define-color on_primary #00391d;

@define-color on_primary_container #b1f1c2;

@define-color on_primary_fixed #00210e;

@define-color on_primary_fixed_variant #10512e;

@define-color on_secondary #223527;

@define-color on_secondary_container #d2e8d4;

@define-color on_secondary_fixed #0d1f13;

@define-color on_secondary_fixed_variant #384b3d;

@define-color on_surface #dfe4dd;

@define-color on_surface_variant #c0c9bf;

@define-color on_tertiary #023640;

@define-color on_tertiary_container #beeaf7;

@define-color on_tertiary_fixed #001f26;

@define-color on_tertiary_fixed_variant #214c57;

@define-color outline #8b938a;

@define-color outline_variant #414942;

@define-color primary #95d5a7;

@define-color primary_container #10512e;

@define-color primary_fixed #b1f1c2;

@define-color primary_fixed_dim #95d5a7;

@define-color scrim #000000;

@define-color secondary #b6ccb9;

@define-color secondary_container #384b3d;

@define-color secondary_fixed #d2e8d4;

@define-color secondary_fixed_dim #b6ccb9;

@define-color shadow #000000;

@define-color source_color #4eb476;

@define-color surface #101510;

@define-color surface_bright #353a36;

@define-color surface_container #1c211c;

@define-color surface_container_high #262b27;

@define-color surface_container_highest #313631;

@define-color surface_container_low #181d18;

@define-color surface_container_lowest #0a0f0b;

@define-color surface_dim #101510;

@define-color surface_tint #95d5a7;

@define-color surface_variant #414942;

@define-color tertiary #a2cdda;

@define-color tertiary_container #214c57;

@define-color tertiary_fixed #beeaf7;

@define-color tertiary_fixed_dim #a2cdda;

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
    font-family: "FiraCode Nerd Font", "Font Awesome 7 Free", FontAwesome, Roboto, "FiraCode Nerd Font", Helvetica, Arial, sans-serif, material-design-icons, "Monaspace Neon";
    border: none;
    border-radius: 0px;
    /* color: @textcolor2; */
    margin: 0px 2px;
}



/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
    padding: 0px 5px;
}

#workspaces button {
    all: unset;
    padding: 0px 5px;
    color: alpha(@on_primary_container, .4);
    transition: all .2s ease;
}

#workspaces button:hover {
    color: alpha(@on_primary_container, .6);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}

#workspaces button.active {
    color: @on_primary_container;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#workspaces button.empty {
    color: alpha(@on_primary_container, .2);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}

#workspaces button.empty:hover {
    color: alpha(@on_primary_container, .4);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}

#workspaces button.empty.active {
    color: @on_primary_container;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}


/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
    border-radius: 5px;
    /* background-color: @color1; */
    opacity: 0.8;
    padding: 20px;
    margin: 0px;
}

tooltip label {
    color: @textcolor2;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

window#waybar {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid @color2;
    border-radius: 18px;
    opacity: 1;
}


/* -----------------------------------------------------
 * Taskbar
 * ----------------------------------------------------- */

#taskbar {
    background: transparent;
    margin: 3px 15px 3px 0px;
    padding: 0px;
    border-radius: 15px;
    font-weight: normal;
    font-style: normal;
    opacity: 0.8;
    border: 3px solid @color1;
}

#taskbar button {
    margin: 0;
    border-radius: 15px;
    padding: 0px 5px 0px 5px;
}

#taskbar button.active {
    background-color: @color1;
    border: 1px solid white;
    opacity: 1;
}

#taskbar button:hover {
    background-color: @color1;
    opacity: 0.9;
}

#taskbar.empty {
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

/* -----------------------------------------------------
 * Custom Notification
 * ----------------------------------------------------- */

#custom-notification {
    /* background-color: @color1; */
    /* margin: 0px 2px; */
    /* padding: 2px 10px 0px 10px; */
    color: @textcolor2;
    /* font-size: 16px; */
    /* font-weight: normal; */
    opacity: 0.8;
}

#custom-notification:hover {
    opacity: 1;
}

/* -----------------------------------------------------
 * Idle Inhibator
 * ----------------------------------------------------- */

#idle_inhibitor {
    margin-right: 15px;
    font-size: 22px;
    font-weight: bold;
    opacity: 0.8;
    color: @color2;
}

#idle_inhibitor.activated {
    margin-right: 15px;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.8;
    color: #dc2f2f;
}

/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */

#custom-arch {
    font-size: 16px;
    color: @textcolor1;
    border-radius: 8px;
    padding: 0px 10px 0px 10px;
    margin: 3px 17px 3px 14px;
    opacity: 0.8;
    border: 3px solid @bordercolor;
}

#submap.VM {
    padding: 0px 10px 0px 10px;
    color: red;
}

#custom-player {
    /* background-color: @color1; */
    margin: 5px 15px 5px 0px;
    padding: 2px 10px 0px 10px;
    border-radius: 8px;
    color: @textcolor2;
}


/* -----------------------------------------------------
 * Exit
 * ----------------------------------------------------- */

#custom-exit {
    margin: 0px 13px 0px 0px;
    padding: 0px;
    font-size: 20px;
    color: @color2;
    opacity: 0.8;
}

#custom-exit:hover {
    opacity: 1;
}

/* -----------------------------------------------------
 * Custom Updates
 * ----------------------------------------------------- */

/* @keyframes blink-update {
    to {
        background-color: rgb(67, 190, 227);
    }
} */

#custom-pacman {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: @color1;
    margin: 5px 15px 5px 0px;
    padding: 2px 10px 0px 10px;
    border-radius: 8px;
    color: @textcolor2;
    font-size: 16px;
    font-weight: normal;
    opacity: 0.8;
}

#custom-pacman.pending-updates {
    animation-name: blink-update;
    animation-duration: 3s;
    background-color: @color1;
    margin: 5px 15px 5px 0px;
    padding: 2px 10px 0px 10px;
    border-radius: 8px;
    color: @textcolor2;
    font-size: 16px;
    font-weight: normal;
    opacity: 0.8;
}

#custom-pacman:hover {
    opacity: 1;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

#group-cpu,
#group-memgpu {
    /* margin: 2px 0px 0px 0px; */
    padding: 0px;
    /* font-size: 16px; */
    color: @color1;
}


/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
    /* background-color: @color1; */
    /* font-size: 16px; */
    color: @textcolor2;
    /* border-radius: 8px;
    padding: 1px 10px 0px 10px; */
    margin: 0px 5px;
    opacity: 0.8;
    /* border: 3px solid @textcolor2; */
}

#clock:hover {
    opacity: 1;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
    /* background-color: @color1; */
    /* font-size: 16px; */
    color: @textcolor2;
    /* border-radius: 8px; */
    /* padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px; */
    opacity: 0.8;
}

#pulseaudio.muted {
    color: @textcolor2;
}

#pulseaudio:hover {
    opacity: 1;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
    background-color: @color1;
    font-size: 16px;
    color: @textcolor2;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px;
    opacity: 0.8;
}

#network.ethernet {
    background-color: @color1;
    color: @textcolor2;
}

#network.wifi {
    background-color: @color1;
    color: @textcolor2;
}

#network:hover {
    opacity: 1;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

#bluetooth,
#bluetooth.on,
#bluetooth.connected {
    background-color: @color1;
    font-size: 16px;
    color: @textcolor2;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px;
    opacity: 0.8;
}

#bluetooth.off {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

#bluetooth:hover {
    opacity: 1;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
    /* padding: 0px 2px 0px 0px; */
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
}

#tray:hover {
    opacity: 1;
}

/* -----------------------------------------------------
 * Weather
 * ----------------------------------------------------- */

#custom-weather {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    color: @color2;
}

#custom-weather:hover {
    opacity: 1;
}

#custom-combined {
    margin: 0px;
}