@define-color color1 #0070D8;
@define-color color2 #FFFFFF;
@define-color bordercolor #0070D8;
@define-color textcolor1 #0070D8;
@define-color textcolor2 #FFFFFF;

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */
* {
    font-family: "Google Sans Code NF";
    border: none;
    border-radius: 0px;
    margin: 0px 2px;
}

window#waybar {
    background: rgba(0, 0, 0, 0.5);
    border: 0.2px solid @color1;
    border-radius: 18px;
    opacity: 1;
}

tooltip {
    border-radius: 5px;
    opacity: 0.8;
    padding: 20px;
    margin: 0px;
}

tooltip label {
    color: @textcolor2;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */
#workspaces {
    padding: 0px 5px;
}

#workspaces button {
    all: unset;
    padding: 0px 5px;
    color: alpha(@color1, .4);
    transition: all .2s ease;
}

#workspaces button:hover {
    color: alpha(@color1, .6);
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}

#workspaces button.active {
    color: @color1;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#workspaces button.empty {
    color: alpha(@color1, .2);
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}

#workspaces button.empty:hover {
    color: alpha(@color1, .4);
}

#workspaces button.empty.active {
    color: @color1;
}

/* -----------------------------------------------------
 * Common Module Styling
 * ----------------------------------------------------- */
#custom-player,
#custom-notification,
#custom-exit,
#custom-cpu_usage,
#custom-memory_usage,
#custom-internet_status,
#pulseaudio,
#clock,
#tray {
    color: @textcolor2;
    opacity: 0.8;
    transition: opacity 0.2s ease;
}

#custom-player:hover,
#custom-notification:hover,
#custom-exit:hover,
#custom-cpu_usage:hover,
#custom-memory_usage:hover,
#custom-internet_status:hover,
#pulseaudio:hover,
#clock:hover {
    opacity: 1;
}

/* -----------------------------------------------------
 * Module Specifics
 * ----------------------------------------------------- */
#submap.VM {
    padding: 0px 10px;
    color: red;
}

#custom-player {
    margin: 5px 15px 5px 0px;
    padding: 2px 10px 0px 10px;
    border-radius: 8px;
}

#custom-exit {
    margin: 0px 13px 0px 0px;
    font-size: 20px;
}

#clock {
    margin: 0px 5px;
}

#pulseaudio.muted {
    color: alpha(@textcolor2, 0.5);
}

/* --- TRAY SPACING FIX --- */
#tray {
    margin-right: 15px;
    /* Added gap after tray */
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
}