@define-color background #00091C;
@define-color foreground #77bae2;

@define-color color0 #00091C;
@define-color color1 #005090;
@define-color color2 #0058AB;
@define-color color3 #0070D8;
@define-color color4 #012DD7;
@define-color color5 #0071CA;
@define-color color6 #0079EA;
@define-color color7 #77bae2;
@define-color color8 #53829e;
@define-color color9 #005090;
@define-color color10 #0058AB;
@define-color color11 #0069B0;
@define-color color12 #012DD7;
@define-color color13 #0071CA;
@define-color color14 #0079EA;
@define-color color15 #77bae2;

@define-color backgroundlight @foreground;
@define-color backgrounddark @background;
@define-color text white;
@define-color buttons @color3;
@define-color selected @color5;
@define-color hover alpha(@selected, .7);
@define-color urgent @color2;

* {
  min-width: unset;
  border: unset;
  background: unset;
  margin: unset;
  padding: unset;
  box-shadow: unset;
  -gtk-icon-shadow: none;
  -gtk-icon-transform: unset;
  min-height: unset;
  text-shadow: unset;
  outline: unset;

  color: @text;
  font-size: 14px;
  font-family: "Google Sans Code NF";
  transition: 200ms;
}

@import "themes/notifications.css";
@import "themes/central_control.css";